@font-face {
    font-family: "Brandon";
    src: url("6dd2f2510b4a00a5461b2455928209c2.eot");
    src: url("6dd2f2510b4a00a5461b2455928209c21.eot") format("embedded-opentype"),
    url("6dd2f2510b4a00a5461b2455928209c2.woff2") format("woff2"),
    url("6dd2f2510b4a00a5461b2455928209c2.woff") format("woff"),
    url("6dd2f2510b4a00a5461b2455928209c2.ttf") format("truetype"),
    url("6dd2f2510b4a00a5461b2455928209c2.svg") format("svg");
}
